{{ template "header.html" . }}

<a href="/">Back to Agents List</a>

<style>
    td {
        padding: 5px
    }
</style>

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.1.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<hr/>

<table>
    <tr>
        <td valign="top">
            <h3>Agent</h3>
            <table border="1" style="border-collapse: collapse">
                <tr>
                    <td>Instance ID:</td><td>{{ .Agent.InstanceId }}</td>
                </tr>
                {{if .Agent.Status.Health }}
                <tr>
                    <td>Up:</td><td>{{ .Agent.Status.Health.Healthy }}</td>
                </tr>
                {{if .Agent.Status.Health.LastError }}
                <tr>
                    <td></td><td><span style="color:red">{{ .Agent.Status.Health.LastError }}</span></td>
                </tr>
                {{end}}
                {{if .Agent.Status.Health.Healthy }}
                <tr>
                    <td>Up since:</td><td>{{ .Agent.StartedAt }}</td>
                </tr>
                {{end}}
                {{end}}
            </table>
        </td>
        <td valign="top">
            <h3>Attributes</h3>
            <table border="1" style="border-collapse: collapse">
                {{ range .Agent.Status.AgentDescription.IdentifyingAttributes }}
                </tr>
                <td>{{ .Key }}</td><td>{{ .Value }}</td>
                </tr>
                {{ end }}
                {{ range .Agent.Status.AgentDescription.NonIdentifyingAttributes }}
                </tr>
                <td>{{ .Key }}</td><td>{{ .Value }}</td>
                </tr>
                {{ end }}
            </table>
        </td>
    </tr>
</table>

<hr/>

<h2>Collector Pools</h2>
<table width="100%" border="1" style="border-collapse: collapse">
    <tr>
        <td>Name</td>
        <td>Namespace</td>
    </tr>

    {{ range $key, $value := .Agent.EffectiveConfig }}
    {{ $name := getNameFromKey $key }}
    {{ $namespace := getNamespaceFromKey $key }}
    <tr>
        <td><a href="/agent?instanceid={{ $.Agent.InstanceId }}&name={{$name}}&namespace={{$namespace}}">{{ $name }}</a></td>
        <td><a href="/agent?instanceid={{ $.Agent.InstanceId }}&name={{$name}}&namespace={{$namespace}}">{{ $namespace }}</a></td>
    </tr>
    {{ end }}
    <tr>
        <td><a href="/agent?instanceid={{ $.Agent.InstanceId }}">New collector</a></td>
    </tr>
</table>


<h3>Configuration</h3>
<table width="100%">
    {{ $key := getKeyFromNameNamespace .Name .Namespace }}
    <tr>
        {{ if (and (ge (len .Name) 1) (ge (len .Namespace) 1)) }}
        <td valign="top">
            Current Effective Configuration:<br/>
            {{ $currentConfig := (index $.Agent.EffectiveConfig $key) }}
            <pre style="display: grid"><code class="language-yaml">{{ printf "%s" $currentConfig.Body }}</code></pre>
        </td>
        {{ end }}
        <td valign="top">
            Additional Configuration:<br/>
            <form action="/save_config" method="post">
            <input type="hidden" name="instanceid" value="{{ .Agent.InstanceId }}"/>
                <h3>Name: <input name="name" value="{{ .Name }}"/></h3>
                <h3>Namespace: <input name="namespace" value="{{ .Namespace }}"/></h3>
                {{if (ge (len $key) 1)}}
            <textarea cols="40" rows="20" name="config">{{ printf "%s" (getSpec (index $.Agent.EffectiveConfig $key)) }}</textarea><br/>
                {{else}}
                <textarea cols="40" rows="20" name="config"></textarea><br/>
                {{end}}
             {{if .Agent.Status.RemoteConfigStatus }}
                {{if .Agent.Status.RemoteConfigStatus.ErrorMessage }}
                <span style="color:red">Failed: {{ .Agent.Status.RemoteConfigStatus.ErrorMessage }}</span><br/>
                {{end}}
             {{end}}
            <input type="submit" value="Save and Send to Agent"/>
            </form>
        </td>
    </tr>
</table>

</body>
</html>
